# Verification - Key for the Box

## 2026-10-03

- Simulator regression is not run yet.
